.title-list {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #22A737;
  font-size: 2rem !important;
}

.title-list {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #22A737;
  font-size: 1.5rem !important;
}

.name-list {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  

}